<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>상세보기</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <td><%= car.seq %></td>
            </tr>
            <tr>
                <th>NAME</th>
                <td><%= car.name %></td>
            </tr>
            <tr>
                <th>PRICE</th>
                <td><%= car.price %></td>
            </tr>
            <tr>
                <th>YEAR</th>
                <td><%= car.year %></td>
            </tr>
            <tr>
                <th>COMPANY</th>
                <td><%= car.company %></td>
            </tr>
        </table>
        <hr />
        <a href="/shop/modify">수정</a> |
        <a href="/shop/delete">삭제</a> |  
        <a href="/shop/detail">상세보기</a> |
        <%-include('./ShopNav.ejs')%>
    </div>
</body>
</html>