<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>상품 목록</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>YEAR</th>
                <th>COMPANY</th>
            </tr>
            <%
                carList.forEach((car)=>{
            %>
            <tr>
                <td><%= car.seq %></td>
                <td><a href="/shop/detail?seq=<%= car.seq %>"><%= car.name %></a></td>
                <td><%= car.price %></td>
                <td><%= car.year %></td>
                <td><%= car.company %></td>
            </tr>
            <%
                })
            %>
        </table>
        <hr />
        <%-include('./ShopNav.ejs')%>
    </div>
</body>
</html>